extends layout

block content
  .container
    .well.col-sm-7.col-sm-offset-3
      .actions.row
        a.right.btn.btn-animated.iisblue(href="/simulation/new")
          i.fa.fa-plus
          span New Simulation
      .lastest.col-sm-offset-1
        h2.subhead Latest Simulations
        ul.list
          for item in simulations
            li
              i.status(class="#{ item.status.name }")
              span(class="pop", data-toggle="popover")  #{item.name} | #{item.date}
                .popover
                  span
                    a.btn(href="/simulation/#{item.id}") Show
                    a.btn(href="/simulation/edit/#{item.id}") Edit
                    a.btn(href="/simulation/table/#{item.id}") Data
      .actions.row
        a.right(href="simulation/list")
          span View all
          i.fa.fa-chevron-right
