extends layout

block content

  .container
    h1.title Simulation List
    .well.col-sm-10.col-sm-offset-1
      .table-responsive
        table.dataTable.table.table-hover
          thead
            th Name
            th Date
            th Status
            th Actions
          tbody
            for item in simulations
              tr
                td #{ item.name }
                td #{ item.date }
                td 
                  i.status(class="#{ item.status.name }") 
                    i.fa.fa-circle
                  span #{ item.status.name }
                td 
                  a(href="/simulation/detail/#{ item.id }") Diagram
                  span   |   
                  a(href="#") Data
